* {
  box-sizing: border-box;
}

body {
  margin: 30px 50px;
  font-family: 'EB Garamond', serif;
}

h1 {
  font-family: 'Niconne', cursive;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-family: 'Niconne', cursive;
  font-size: 1.8rem;
}

/* Contact Displays */

.contactListDisplay {
  display: flex;
  flex-direction: column;
}

.contactDiv {
  margin: 15px 0px;
  background-image: url("images/PaperOld.jpg");
  padding: 10px 15px 0 15px;
  box-shadow: 1px 2px 5px;
}

.contactInfoDiv {
  margin: 0 40px;
}

.name {
  font-weight: 500;
  font-family: 'Niconne', cursive;
  font-size: 1.8rem;
  /* background-color:black; */
  margin: 0 -20px 0 -20px;
  padding: 5px 80px 5px 40px;
  width: 100%;
  color: black;
}

.textSpan {
  font-weight: 700;
  font-size: 1rem;
}

/* Add Contact Form */

.addContactForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 600;
  /* align-items: flex-start; */
}

.submitButton, .editButton, .addContactButton, .deleteButton, .cancelButton, .fakeButton {
  margin: 10px 0 0 0;
  font-family: 'Niconne', cursive;
  font-size: 1.2rem;
  width: 35%;
  /* flex-basis: 50%; */
  align-self: center;
  color: #FFF;
  background-color: #774178;
  padding: 3px 50px;
  text-decoration: none;
  text-align: center;
}

.fakeButton:hover {
  cursor: pointer;
}

.deleteButton, .cancelButton {
  color: #FFF;
  background-color: #A49DBF;
}

.addContactButton {
  background-color: #A49DBF;
  color: black;
}

.editButton, .deleteButton, .addContactButton {
  margin-bottom: 40px;
}

.editButton, .deleteButton {
  margin-right: 10px;

}

.deleteButton {
  color: black;
}